*{
    box-sizing: border-box;
}
body{
    font-family: Arial, tahoma, sans-serif;
}
.control-button{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #607d8bb3;
}
.control-button span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #f44336;
    color: #fff;
    padding: 15px 25px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    font-size: 28px;
}
.info{
    background: #f6f6f6;
    width: 1080px;
    padding: 20px;
    border: 2px solid #2196f3;
    font-size: 24px;
    margin: 20px auto 0;
    overflow: hidden;
} 
.info .name{
    float: left;
    width: 50%;
}
.info .tries{
    float: right;
    width: 50%;
    text-align: right;
}
.memory-game-block{
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin: 20px auto;
}
.memory-game-block.no-clicking{
    pointer-events: none;
}
.memory-game-block .game-block{
    height: 200px;
    transition: transform 0.5s ease 0s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
    flex: 1 0 200px;
    margin: 0 10px 20px;
}
.memory-game-block .game-block .front{
    background-color: #333;
    line-height: 200px;
}
.memory-game-block .game-block .front::after{
    content: '!';
    font-size: 160px;
    font-weight: bold;
    color: #fff;
}
.memory-game-block .game-block .back{
    background-color: #607d8b;
    transform: rotateY(180deg);
}
.memory-game-block .game-block .back img{
    width: 140px;
    height: 140px;
    margin-top: 30px;
}
.memory-game-block .game-block .face{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    border: 5px solid #2196f3;
}
.memory-game-block .game-block.is-flipped,
.memory-game-block .game-block.has-match{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}